PetID.Parser.Dogily/parser-config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://petid.com/xml/parser-config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="baseUrl" type="xs:string" />
        <xs:element name="pages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="page">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string" />
                    <xs:element name="urlPlaceholder" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="postCodeFromUrlRegex" type="xs:string" />
        <xs:element name="pagingAppendStr" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>